// Variables
// =============================================
$blue-gradient: linear-gradient(to right,#2193b0, #6dd5ed);

// CSS Starts Here
// ===============================
* {
  font-size: 10px;
  margin: 0;
  font-family: Avenir,Open Sans,Helvetica Neue,Arial,Helvetica,Verdana,sans-serif;
  color: white;
}

body {
  background-image: $blue-gradient;
}

h2 {
  font-size: 4rem;
  margin: 4rem 0 2rem 0;
  padding-top: 2rem;
}

// General styling
// ===============================
.page-main-container {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// _header styling
// ===============================
#nav-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  width: 100%;
  height: 15vh;
  border-bottom: 1px dashed black;

  .appTitle {
    font-size: 5rem;
    margin-left: 4rem;
  }

  .nav-menu-container {
    display: flex;

    li {
      padding-right: 15rem;
      list-style-type: none;

      a {
        font-size: 3rem;
        text-decoration: none;
      }
    }
  }

  .loginRegisterContainer {
    font-size: 3rem;
    margin-right: 4rem;

    a {
      font-size: 3rem;
      text-decoration: none;
      color: white;
    }

    a:nth-child(1) {
      padding-right: 1.5rem;
    }

    a:nth-child(2) {
      margin-left: 1.5rem;
    }
  }
}

.loggedInNameContainer {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  align-items: center;

  p {
    font-size: 3rem;
  }

  .logOutButtonContainer{
    margin-top: 2rem;
    background-color: #6dd5ed;

    .logOutButton {
      width: 12rem;
      height: 4.3rem;
      font-size: 2rem;
      border: 1px solid black;
      border-radius: 10px;
      color: #6dd5ed;
      font-weight: bold;
      box-shadow: -2px 3px 10px -5px black;
    }
  }
}

// urls_index styling
// =========================

.urls-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 60%;
  height: 50vh;
  align-items: center;
  background-color: white;
  box-shadow: -7px 6px 30px 1px black;
  margin-top: 10rem;

  h2 {
    margin-top: 2rem;
    color: black;
  }

  ul {
  list-style-type: none;

    a, li {
      font-size: 3rem;
      text-decoration: none;
      color: black;
    }

    li {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      .delete-button {
        font-size: 2rem;
        margin-left: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 4px;
        background-color: lightcoral;
      }

      .edit-button {
        margin-left: 2rem;
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 4px;
        background-color: lightblue;

        a {
          font-size: 2rem;
          text-decoration: none;
        }
      }
    }
  }
}

// urls_login styles
// ============================

#login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  .full-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    padding-top: 4rem;
    width: 40vw;
    height: 40vh;
    top: -2rem;
    background-color: white;
    box-shadow: -7px 6px 30px 1px black;

    h4 {
      font-size: 3rem;
      justify-self: flex-start;
      color: black;
    }

    .login-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;

      .login-input {
        height: 4rem;
        font-size: 2rem;
        margin: 2rem 1rem !important;
        color: black;
        border: 1px solid black;
        border-radius: 4px;
      }

      .login-submit {
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 4px;
        background-color: lightblue;
        width: 20rem;
        margin-top: 2rem;
      }
    }
  }
}

// urls_new styles
// ===============================

.new-url-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  width: 40vw;
  height: 40vh;
  top: -2rem;
  box-shadow: -7px 6px 30px 1px black;

  h2 {
    color: black;
    margin: 2rem !important;
    text-align: center;
  }

  .new-form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;

    .login-input {
      height: 4rem;
      font-size: 2rem;
      margin: 2rem 1rem !important;
      color: black;
      border: 1px solid black;
      border-radius: 4px;
      padding-left: 1rem;
      width: 30rem;
    }

    .login-submit {
      font-size: 2rem;
      padding: 1rem;
      border: 1px solid black;
      border-radius: 4px;
      background-color: #6dd5ed;
      width: 10rem;
      margin-top: 2rem;
      color: white;
      font-weight: bold;
    }
  }
}

// urls_registration styles
// ==============================

// See urls_login for styling


// urls_show styles
// ===============================
.short-url-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  width: 50vw;
  height: 40vh;
  top: -2rem;
  box-shadow: -7px 6px 30px 1px black;

  p {
    color: black;
    font-size: 3rem;
    flex-wrap: wrap;
  }

  .show-edit-tagline {
    font-size: 2.5rem;
    padding-top: 2rem;
  }

  .shortURL-target {
    font-weight: bold;
    color: black;
    font-size: 4rem;
  }

  .longURL-target {
    font-weight: bold;
    color: black;
    font-size: 3rem;
  }

  .login-submit {
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #6dd5ed;
    width: 10rem;
    margin-top: 2rem;
    color: white;
    font-weight: bold;
  }

  .login-input {
    height: 4rem;
    font-size: 2rem;
    margin: 2rem 1rem !important;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 1rem;
    width: 30rem;
  }
}