<nav id="nav-main-container">
<div id="appTitleContainer"><h1 class="appTitle" >Go Shorty</h1></div>
<% if (user_id) { %>
  <div class="loggedInNameContainer">
    <p>Hey <%= user_id.username %>!</p>
    <form class="logOutButtonContainer" method="POST" action="/logout">
      <input class="logOutButton" type="submit" value="LOGOUT" />
    </form>
  </div>
<% } else { %>
  <p class="loginRegisterContainer"><a href="/login">Login </a> | <a href="/register">Register </a></p>
<% } %>
</nav>
<!-- <p><a href="#">Click here</a> to create a new short URL!</p> -->