<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <title>Go Shorty - Registration</title>
</head>

<body>
  <% include ./partials/_header %>
  <div class="full-register-container login-main-container page-main-container" id="login-main-container">
    <form class="login-input-container" action="/register" method="POST">
      <div class="full-login-container">
        <h4>Time to Register!</h4>
        <div class="login-input-container">
          <input class="login-input" type="text" name="username" placeholder="What is your name" style="width: 300px; margin: 1em" />
          <input class="login-input" type="email" name="email" placeholder="Enter your email" style="width: 300px; margin: 1em" />
          <input class="login-input" type="password" name="password" placeholder="Enter your password" style="width: 300px; margin: 1em" />
          <input class="login-submit" type="submit" value="submit" />
        </div>
      </div>
    </form>
  </div>
</body>

</html>