<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <title>Go Shorty - New Url</title>
</head>

<body>
  <% include partials/_header %>
  <div class="new-url-main-container page-main-container">
    <div class="new-url-container">
      <h2 class="page-title">Create a Short URL</h2>
      <div class="new-form-container">
        <form action="/urls" method="POST">
          <!-- <div> -->
            <!-- <label for="longURL">Enter a URL:</label> -->
            <input class="login-input" type="text" name="longURL" placeholder="https://">
            <button type="submit" class="login-submit">Submit</button>
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>
</body>

</html>