<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Shorten R Us - Your URLs</title>
</head>

<body style="font-size:20px; padding:50px;">
  <!-- Add EJS code here -->
  <% include ./partials/_header.ejs %>

  <h2>My URLs</h2>

  <ul>
  <% for (let shortURL in urls) { %>
    <li><a href="#"><%= `${shortURL}` %></a> : <%= `${urls[shortURL].longURL}` %>
      <a href="/urls/<%= `${shortURL}` %>">EDIT</a>
      <form method="POST" action="/urls/<%= `${shortURL}` %>/delete">
        <input type="submit" value="DELETE" />
      </form>
    </li>
  <% } %>
  </ul>

</body>

</html>