<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <title>Go Shorty - Shortened URL Info</title>
</head>

<body>
  <% include partials/_header %>
  <div class="login-main-container page-main-container">
    <div class="short-url-container login-input-container">
      <p><span class="shortURL-target"><%= shortURL %></span> is the ShortURL for: <span class="longURL-target"><%= longURL %></span></p>
      <p class="show-edit-tagline">Put in a new URL below to assign the shortURL to it instead</p>
      <form method="POST" action="/urls/<%= shortURL %>/update">
        <div class="input-container">
          <input class="login-input" type="text" name="updateURL" placeholder="http://" />
          <input class="login-submit" type="submit" value="EDIT" />
        </div>
      </form>
    </div>
  </div>
</body>
