* {
  font-size: 10px;
  margin: 0;
  font-family: Avenir,Open Sans,Helvetica Neue,Arial,Helvetica,Verdana,sans-serif;
  color: white; }

body {
  background-image: linear-gradient(to right, #2193b0, #6dd5ed); }

h2 {
  font-size: 4rem;
  margin: 4rem 0 2rem 0;
  padding-top: 2rem; }

.page-main-container {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#nav-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  width: 100%;
  height: 15vh;
  border-bottom: 1px dashed black; }
  #nav-main-container .appTitle {
    font-size: 5rem;
    margin-left: 4rem; }
  #nav-main-container .nav-menu-container {
    display: flex; }
    #nav-main-container .nav-menu-container li {
      padding-right: 15rem;
      list-style-type: none; }
      #nav-main-container .nav-menu-container li a {
        font-size: 3rem;
        text-decoration: none; }
  #nav-main-container .loginRegisterContainer {
    font-size: 3rem;
    margin-right: 4rem; }
    #nav-main-container .loginRegisterContainer a {
      font-size: 3rem;
      text-decoration: none;
      color: white; }
    #nav-main-container .loginRegisterContainer a:nth-child(1) {
      padding-right: 1.5rem; }
    #nav-main-container .loginRegisterContainer a:nth-child(2) {
      margin-left: 1.5rem; }

.loggedInNameContainer {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  align-items: center; }
  .loggedInNameContainer p {
    font-size: 3rem; }
  .loggedInNameContainer .logOutButtonContainer {
    margin-top: 2rem;
    background-color: #6dd5ed; }
    .loggedInNameContainer .logOutButtonContainer .logOutButton {
      width: 12rem;
      height: 4.3rem;
      font-size: 2rem;
      border: 1px solid black;
      border-radius: 10px;
      color: #6dd5ed;
      font-weight: bold;
      box-shadow: -2px 3px 10px -5px black; }

.urls-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 60%;
  height: 50vh;
  align-items: center;
  background-color: white;
  box-shadow: -7px 6px 30px 1px black;
  margin-top: 10rem; }
  .urls-container h2 {
    margin-top: 2rem;
    color: black; }
  .urls-container ul {
    list-style-type: none; }
    .urls-container ul a, .urls-container ul li {
      font-size: 3rem;
      text-decoration: none;
      color: black; }
    .urls-container ul li {
      display: flex;
      align-items: center;
      margin-top: 2rem; }
      .urls-container ul li .delete-button {
        font-size: 2rem;
        margin-left: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 4px;
        background-color: lightcoral; }
      .urls-container ul li .edit-button {
        margin-left: 2rem;
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 4px;
        background-color: lightblue; }
        .urls-container ul li .edit-button a {
          font-size: 2rem;
          text-decoration: none; }

#login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; }
  #login-main-container .full-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    padding-top: 4rem;
    width: 40vw;
    height: 40vh;
    top: -2rem;
    background-color: white;
    box-shadow: -7px 6px 30px 1px black; }
    #login-main-container .full-login-container h4 {
      font-size: 3rem;
      justify-self: flex-start;
      color: black; }
    #login-main-container .full-login-container .login-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto; }
      #login-main-container .full-login-container .login-input-container .login-input {
        height: 4rem;
        font-size: 2rem;
        margin: 2rem 1rem !important;
        color: black;
        border: 1px solid black;
        border-radius: 4px; }
      #login-main-container .full-login-container .login-input-container .login-submit {
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 4px;
        background-color: lightblue;
        width: 20rem;
        margin-top: 2rem; }

.new-url-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  width: 40vw;
  height: 40vh;
  top: -2rem;
  box-shadow: -7px 6px 30px 1px black; }
  .new-url-container h2 {
    color: black;
    margin: 2rem !important;
    text-align: center; }
  .new-url-container .new-form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem; }
    .new-url-container .new-form-container .login-input {
      height: 4rem;
      font-size: 2rem;
      margin: 2rem 1rem !important;
      color: black;
      border: 1px solid black;
      border-radius: 4px;
      padding-left: 1rem;
      width: 30rem; }
    .new-url-container .new-form-container .login-submit {
      font-size: 2rem;
      padding: 1rem;
      border: 1px solid black;
      border-radius: 4px;
      background-color: #6dd5ed;
      width: 10rem;
      margin-top: 2rem;
      color: white;
      font-weight: bold; }
